# Python
*.py[cod]
__pycache__/
*.so
.Python
*.pyc

# Virtual Environment
venv/
ENV/
env/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
static/

# Database
*.sqlite3

# VS Code
.vscode/
*.code-workspace
.history/

# PyCharm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
local_settings.py

# Environment variables
.env
.env.local
.env.*.local
